* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto');
    src: url('../fonts/Roboto-Regular.ttf');
}

header {
    font-family: 'Roboto';
    font-size: 12px;
    padding-left: 20px;
    background-color: #FFD700;
    height: 75px;
    display: flex;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.non-interactive {
    pointer-events: none;
}

.header-catalogue__button {
    width: 40px;
    margin-right: 40px;
    background-color: #FFD700;
    border: none;
    cursor: pointer;
}

.header-logo {
    width: 64px;
    margin-right: 40px;
    background-color: #FFD700;
    border: none;
    cursor: pointer;
}

.header-location {
    display: flex;
    flex-direction: column;
    height: 33px;
    color: #232323;
    margin-right: 40px;
}

.header-location__city {
    display: inline-flex;
    align-items: center;
}

.header-location__city img {
    margin-right: 5px;
    margin-bottom: 4px;
}

.header-search {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

input[type="search"]:focus {
    outline: none;
    background-color: #fffadd;
}

#header-search__input {
    width: 606px;
    height: 34px;
    border: none;
    border-radius: 10px 0 0 10px;
}

.header-search__button {
    width: 40px;
    height: 34px;
    cursor: pointer;
    background-color: #232323;
    border: none;
    border-radius: 0 10px 10px 0;
}

.header-profile {
    position: relative;
    height: 33px;
    margin-right: 40px;
}

.header-profile-menu {
    position: absolute;
    z-index: 1;
}

.header-profile-menu button {
    background-color: #FFD700;
    border: 1px solid #232323;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    cursor: pointer;
}

.header-profile-menu button:hover {
    background-color: #ffe34c;
}

.header-profile__button {
    width: 68px;
    background-color: #FFD700;
    border: none;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.header-profile__button:hover {
    background-color: #ffe34c;
}

.header-profile__account {
    margin-bottom: 5px;
}

.header-favourite {
    margin-right: 40px;
}

.header-favourite__button {
    border: none;
    cursor: pointer;
    background-color: #FFD700;
    transition: 0.3s;
}

.header-favourite__button:hover {
    border-radius: 10px;
    background-color: #ffe34c;
}

.header-cart {
    background-color: #FFD700;
    border: none;
    display: flex;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.header-cart:hover {
    border-radius: 10px;
    background-color: #ffe34c;
}

.header-cart__cart {
    margin-bottom: 5px;
}

.header-menu {
    position: relative;
}

.header-menu__button {
    display: none;
    cursor: pointer;
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 10px;
    background-color: #FFD700;
}

.header-menu__button:hover {
    background-color: #ffe34c;
}

.header-menu-dropmenu {
    display: none;
    position: absolute;
    z-index: 1;
    right: 10px;
}

.header-menu-dropmenu button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border: 1px solid #232323;
    border-radius: 10px;
    background-color: #FFD700;
}

.header-menu-dropmenu__img {
    margin-right: 5px;
    width: 20px;
    height: 17px;
}

.navmain {
    display: flex;
}

nav {
    width: 180px;
    height: 227px;
    padding-left: 40px;
    margin-right: 60px;
}

.nav-container {
    padding-top: 20px;
    padding-left: 10px;
    width: 180px;
    height: 227px;
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: #232323;
}

li:not(:last-child) {
    margin-bottom: 20px;
}

.nav-container__buttons-list {
    margin-bottom: 20px;
}

.nav-container__button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 150px;
    height: 32px;
    background: white;
    border: none;
    cursor: pointer;
}

.nav-container__button img {
    margin-right: 10px;
}

.nav-container__button h2 {
    text-align: left;
    font-family: 'Roboto';
    font-size: 14px;
}

main {
    width: 1118px;
    padding-top: 20px;
}

.main-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-bottom: 40px;
}

.main-products__card {
    position: relative;
    border: rgb(212, 212, 212) 1px solid;
    border-radius: 5px;
    padding-bottom: 22px;
}

.main-products__card-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.main-products__card-text {
    padding-left: 5px;
}

.main-products__card-price {
    font-family: 'Roboto';
    font-size: 14px;
    margin-bottom: 5px;
}

.main-products__card-name {
    font-family: 'Roboto';
    font-size: 12px;
}

.main-products__cart-button {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 60px;
    height: 20px;
    font-family: 'Roboto';
    font-size: 10px;
    background-color: #FFD700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.main-products__favourite-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.main-products__remove-button {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 60px;
    height: 20px;
    font-family: 'Roboto';
    font-size: 10px;
    background-color: #FFD700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.main-empty-cart__text, .main-empty-favourites__text {
    font-family: 'Roboto';
    font-size: 20px;
}

.main__confirm_order {
    margin-bottom: 20px;
    width: 180px;
    height: 30px;
    font-family: 'Roboto';
    font-size: 14px;
    background-color: #FFD700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.main__confirm_order:hover {
    background-color: #ffe550;
}

.main__order-price {
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-size: 16px;
}

.user-enter-main {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Roboto';
}

.user-enter-main form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.user-enter-main form input[type="password"] {
    margin-bottom: 30px;
}

.user-enter-main form input[type="submit"] {
    margin-bottom: 100px;
    background-color: #FFD700;
    border: none;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
}

.user-enter-main form input[type="submit"]:hover {
    background-color: #ffe34c;
}

.user-enter-main__exit {
    border: none;
    background-color: #9E0016;
    color: white;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
}

.user-enter-main__exit:hover {
    background-color: #d41932;
}

@media (max-width: 1200px) {
    .header-catalogue__button {
        margin-right: 30px;
    }

    .header-logo {
        margin-right: 30px;
    }

    .header-location {
        margin-right: 30px;
    }

    .header-search {
        margin-right: 30px;
    }

    #header-search__input {
        width: 450px;
    }

    .header-profile {
        margin-right: 30px;
    }

    .header-language {
        margin-right: 30px;
    }

    .header-favourite {
        margin-right: 30px;
    }
}

@media (max-width: 1000px) {
    .header-catalogue__button {
        margin-right: 20px;
    }

    .header-logo {
        margin-right: 20px;
    }

    .header-location {
        margin-right: 20px;
    }

    .header-search {
        margin-right: 20px;
    }

    #header-search__input {
        width: 300px;
    }

    .header-profile {
        margin-right: 20px;
    }

    .header-language {
        margin-right: 20px;
    }

    .header-favourite {
        margin-right: 20px;
    }

    .main-products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .header-location {
        display: none;
    }

    #header-search__input {
        width: 368px;
    }

    .header-profile {
        display: none;
    }

    .header-language {
        display: none;
    }

    .header-favourite {
        display: none;
    }

    .header-cart {
        margin-right: 10px;
    }

    .header-menu__button {
        display: block;
    }

    .main-products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 450px) {
    .header-catalogue__button {
        display: none;
    }

    .header-logo {
        margin-right: 10px;
    }

    .header-logo__img {
        width: 45px;
        height: 27px;
    }

    .header-search {
        margin-right: 10px;
    }

    #header-search__input {
        width: 245px;
    }

    .header-cart {
        display: none;
    }

    nav {
        display: none;
    }
}

@media (max-width: 360px) {
    .header-catalogue__button {
        display: none;
    }

    .header-logo__img {
        margin-right: 10px;
        width: 30px;
        height: 18px;
    }

    .header-search {
        margin-right: 10px;
    }

    #header-search__input {
        width: 210px;
    }

    .main-products {
        padding-left: 50px;
        grid-template-columns: 250px;
    }
}