* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto!';
    src: local('Roboto');
    src: url('../fonts/Roboto-Regular.ttf');
}

header {
    font-family: 'Roboto!';
    font-size: 12px;
    padding-left: 20px;
    background-color: #FFD700;
    height: 75px;
    display: flex;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.non-interactive {
  pointer-events: none;
}

.header__catalogue {
    margin-right: 40px;
}

.header__logo {
    margin-right: 40px;
}

.header-location {
    display: flex;
    flex-direction: column;
    height: 33px;
    color: #232323;
    margin-right: 40px;
}

.header-location__city {
    display: inline-flex;
    align-items: center;
}

.header-location__city img {
    margin-right: 5px;
    margin-bottom: 4px;
}

.header-search {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

input[type="search"]:focus {
    outline: none;
    background-color: #fffadd;
}

#header-search__input {
    width: 468px;
    height: 34px;
    border: none;
    border-radius: 10px 0 0 10px;
}

.header-search__button {
    width: 40px;
    height: 34px;
    cursor: pointer;
    background-color: #232323;
    border: none;
    border-radius: 0 10px 10px 0;
}

.header-profile {
    height: 33px;
    margin-right: 40px;
}

.header-profile__account {
    margin-bottom: 5px;
}

.header-language {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.check-button {
    background-color: #ffe34c;
    width: 78px;
    height: 28px;
    border-radius: 14px;
    cursor: pointer;
    position: relative;
}

.check-button::before {
    position: absolute;
    content: '';
    background-color: #232323;
    width: 37px;
    height: 21px;
    border-radius: 14px;
    margin: 4px;
    transition: 0.2s;
}

#check {
    display: none;
}

input:checked + .check-button::before {
    transform: translateX(34px);
}

.header-language__kazakh {
    position: absolute;
    left: 10px;
    color: white;
}

input:checked ~ .header-language__kazakh {
    color: #232323;
}

.header-language__russian {
    position: absolute;
    left: 45px;
}

input:checked ~ .header-language__russian {
    color: white;
}

.header-favourite {
    margin-right: 40px;
}

.header-favourite__button {
    border: none;
    cursor: pointer;
    background-color: #FFD700;
}

.header-favourite__button:hover {
    border-radius: 10px;
    background-color: #ffe34c;
}

.header-cart {
    display: flex;
    gap: 10px;
}

.header-cart__cart {
    margin-bottom: 5px;
}

.header-menu__button {
    display: none;
    cursor: pointer;
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 10px;
    background-color: #FFD700;
}

.header-menu__button:hover {
    background-color: #ffe34c;
}

@media (max-width: 1200px) {
    .header__catalogue {
        margin-right: 30px;
    }

    .header__logo {
        margin-right: 30px;
    }

    .header-location {
        margin-right: 30px;
    }

    .header-search {
        margin-right: 30px;
    }

    #header-search__input {
        width: 368px;
    }

    .header-profile {
        margin-right: 30px;
    }

    .header-language {
        margin-right: 30px;
    }

    .header-favourite {
        margin-right: 30px;
    }
}

@media (max-width: 1000px) {
    .header__catalogue {
        margin-right: 20px;
    }

    .header__logo {
        margin-right: 20px;
    }

    .header-location {
        margin-right: 20px;
    }

    .header-search {
        margin-right: 20px;
    }

    #header-search__input {
        width: 268px;
    }

    .header-profile {
        margin-right: 20px;
    }

    .header-language {
        margin-right: 20px;
    }

    .header-favourite {
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .header-location {
        display: none;
    }

    #header-search__input {
        width: 368px;
    }

    .header-profile {
        display: none;
    }

    .header-language {
        display: none;
    }

    .header-favourite {
        display: none;
    }

    .header-cart {
        margin-right: 10px;
    }

    .header-menu__button {
        display: block;
    }
}

@media (max-width: 450px) {
    .header__catalogue {
        display: none;
    }

    .header__logo {
        width: 45px;
        height: 27px;
    }

    #header-search__input {
        width: 245px;
    }

    .header-cart {
        display: none;
    }
}

@media (max-width: 360px) {
    .header__catalogue {
        display: none;
    }

    .header__logo {
        margin-right: 10px;
        width: 30px;
        height: 18px;
    }

    .header-search {
        margin-right: 10px;
    }

    #header-search__input {
        width: 210px;
    }

    .header-cart {
        display: none;
    }
}